{% extends "govuk/template.njk" %}
{% from "partials/footer.html" import footer %}
{% from "partials/header.html" import header %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% set assetPath = "assets" %}

{% block pageTitle %}
FOI Working Day Calculator
{% endblock %}

{% block header %}
  {{ header() }}
{% endblock %}

{% block head %}
<link href="css/style.css" rel="stylesheet">
  {% for item in styles %}
    <link href="{{item}}" rel="stylesheet">
  {% endfor %}
{% endblock %}

{% block beforeContent %}
{% if backLink %}
{{ govukBackLink({
  text: "Back",
  href: backLink
}) }}
{% endif %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
  {% for item in scripts %}
    <script src="{{item}}"></script>
  {% endfor %}
{% endblock %}

{% block footer %}
    {{ footer() }}
{% endblock %}