{% extends "partials/view.html" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}



{% set backLink = "/" %}
{% set scripts = ["/js/flow1.js"] %}
{% set styles = ["/css/flow1.css"] %}


{% block content %}
    <form id="flow1-form" action="#" method="post" autocomplete="off" novalidate>
        <div class="govuk-form-group">
            {% call govukFieldset({
                legend: {
                  text: "",
                  classes: "govuk-fieldset__legend--l",
                  isPageHeading: true
                }
              }) %}
                {{ govukDateInput({
                    id: "request-received",
                    namePrefix: "request-received",
                    fieldset: {
                      legend: {
                        text: "When did the public authority receive the request?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    hint: {
                      text: "This is not the date the request was confirmed, but the date it was successfully delivered."
                    }
                  }) }}
                <p id="request-received-error" hidden aria-hidden="true">
                </p>
            {% endcall %}
        </div>
        {{ govukButton({
            text: "Save and continue",
            href: "#"
          }) }}
    </form>
{% endblock %}
