{% extends "partials/view.html" %}
{% from "partials/contents-list.html" import contentsList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set styles = ["/css/contents-list.min.css", "/css/index.css"] %}

{% block content %}
    {{ contentsList([
        {
            href: "#calculator",
            title: "Response due date calculator"
        },
        {
            href: "#calendar",
            title: "Working day calendar"
        },
        {
            href: "#about-working-days",
            title: "About working days"
        }
    ]) }}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-l" id="calculator">Response Due Date Calculator</h2>
    <p class="govuk-body">This calculator will help you calculate the legal time limits for a public authority
        to respond to a request under the UK's Freedom of Information Act 2000.</p>
    <p class="govuk-body">While every attempt has been made to properly account for working and non-working
        days, this calculator may be inaccurate and neither it's results nor anything on this page should be
        taken as
        legal advice.</p>
    <p class="govuk-body">Requests made under other information access law, such as the Environmental
        Information Regulations 2004 or the Freedom of Information (Scotland) Act 2002, are not supported.</p>
    {{ govukButton({
        text: "Use the calculator",
        href: "/flow1.html",
        isStartButton: true
      }) }}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-l" id="calendar">Calendar</h2>
    <p class="govuk-body">
        The calendar shows the working and non-working days for each year, as defined under the Freedom of
        Information Act 2000.
    </p>
    {{ govukButton({
        text: "View the calendar",
        href: "/calendar.html"
      }) }}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-l" id="about-working-days">About working days</h2>
    <p class="govuk-body">Freedom of Information requests must be responded to:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Promptly, and</li>
        <li>Within 20 working days (with some exceptions)</li>
    </ul>
    <p class="govuk-body">
        The 20 working day period starts on the day following the day the organisation received the request.
        The organisation must then respond by midnight on the 20th working day.
        If you are asked to clarify your request, the 20 working day period would start the day after the
        organisation
        receives the clarification.
    </p>
    <p class="govuk-body">Days that do not count as working days are:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>Saturdays</li>
        <li>Sundays</li>
        <li>New Year's Day</li>
        <li>2 January (1973 and onwards)</li>
        <li>3 January, if New Year's Day fell on a Saturday or Sunday that year (1973 and onwards)</li>
        <li>Saint Patrick's Day (17 March)</li>
        <li>18 March, if Saint Patrick's Day fell on a Sunday</li>
        <li>Good Friday (the last Friday before Easter Sunday)</li>
        <li>Easter Monday (the day after Easter Sunday)</li>
        <li>The first Monday in May</li>
        <li>The last Monday in May</li>
        <li>The first Monday in August</li>
        <li>The last Monday in August</li>
        <li>Saint Andrew's Day (30 November)</li>
        <li>The first Monday after 30 November, if Saint Andrew's Day fell on a Saturday or Sunday that year
        </li>
        <li>Christmas Day (25 December)</li>
        <li>Boxing Day (26 December)</li>
        <li>27 December, if Christmas Day fell on a Saturday or Sunday that year</li>
        <li>Other days, by <a href="https://en.wikipedia.org/wiki/Proclamation#United_Kingdom">royal
                proclamation</a> (will be published in the London Gazette, e.g. <a
                href="https://www.thegazette.co.uk/notice/4388378">4388378</a>)</li>
        <li>Other days, as ordered by the Secretary of State for Northern Ireland (will be published in the
            Belfast Gazette, e.g. <a
                href="https://www.thegazette.co.uk/notice/B-7164-1101-24">B-7164-1101/24</a>)</li>
    </ul>
    <p class="govuk-body">A list of days that have been proclaimed to either be or not be bank holidays can be found <a href="/proclaimed_dates.html" class="govuk-link">here</a>.</p>
    {{ govukDetails({
        summaryText: "Calculating the date of Easter Sunday",
        text: "Easter Sunday does not occur on a fixed date. It occurs on the first Sunday that follows the first full moon that occurs after the 20 March."
      }) }}
    <p class="govuk-body">The monarch may also, by royal proclamation, declare a date that would otherwise not
        be a working day to be a working day.</p>
{% endblock %}
