name: Build & deploy website
on:
  workflow_dispatch:
  push:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 20
      - name: Install node dependencies
        run: npm ci
      - name: Type check
        run: tsc -b
      - name: Build website
        run: npx vite build --base "/FOIWorkingDayCalculator/"
      - run: cp dist/index.html dist/404.html # https://github.com/orgs/community/discussions/64096#discussioncomment-14740476
      - name: Fix permissions
        run: |
          chmod -c -R +rX "./dist/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done
      - name: Upload built website
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
